<ion-header>
  <ion-toolbar>
    <ion-title>divisions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-accordion-group animated="reduce" *ngIf="type == 'main'">
    <ion-accordion [value]="div?.divison_ID" (click)="getDuplicatedDivByDivID(div.divison_ID)"
      *ngFor="let div of divisionList">
      <ion-item slot="header">
        <ion-label>{{div?.division_name}}</ion-label>
        <ion-button (click)="presentAlert(div)">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

  <ion-list *ngIf="duplicatedDivs">
    <ion-item *ngFor="let div of duplicatedDivs"
      [routerLink]="['/questions/'+'duplicated/'+ div.duplicated_ID+ '/' + div.sub_ID +'/' + div.priority_ID]"
      routerLinkActive="router-link-active">
      <ion-label>{{div?.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>