<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <h4 style="padding-left: 3%;"> {{taskDetails?.title}} </h4>
    </div>
    <ion-card class="card-style" id="cardSpace">
      
      <ion-card-content style="color: #3C3C3B;"  >
        <form [formGroup]="taskForm" >
        <!-- INPUT STYLE -->
        <h3> Venue Name: 
          <ion-buttons style="display: inline;" icon-only item-end clear (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>    
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Venue Name here" formControlName="venueName"  >          
        </ion-input>    

        <h3> Category: 
          <ion-buttons style="display: inline;" icon-only item-end clear (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>  
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Category here" formControlName="category" >    
        </ion-input>

        <h3> Address:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3> 
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Address here" formControlName="address" >      
        </ion-input>

        <h3> Contact Name: 
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Contact Name here" formControlName="contactName">       
        </ion-input> 
       
        <h3> Contact Number:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons> <ion-buttons style="display: inline;" (click)="callNow(taskDetails?.contactNumber)" slot="">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="call" ></ion-icon>
          </ion-buttons> 
       
        </h3> 
        <ion-input class="border" style="font-weight: lighter;" required type="" placeholder="Edit Contact Number here" formControlName="contactNumber" > 
                
        </ion-input> 

        
        <h3> Surface Area:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Surface Area here" formControlName="surfaceArea" >          
        </ion-input> 

        <h3> Number Of Floors:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3> 
        <ion-input class="border" style="font-weight: lighter;" required type="" placeholder="Edit Number Of Floors here" formControlName="numberOfFloors" >     
        </ion-input>
                  
        <h3> Number Of Bathrooms:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Number Of Bathrooms here" formControlName="numberOfBathrooms">        
        </ion-input>

        <h3> Infrastructure Type:
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="text" placeholder="Edit Infrastructure Type here" formControlName="infrastructureType" >         
        </ion-input>
        
        <h3> Audit Date: 
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="" placeholder="Edit Audit Date here" formControlName="auditDate" >       
        </ion-input>
        
        <h3> Assessment visit's duration: 
          <ion-buttons style="display: inline;" icon-only item-end clear  (click)="editTaskDetails()">
            <ion-icon slot="end" style="color: #3C3C3B; float: right;" name="create-outline"></ion-icon>
          </ion-buttons>
        </h3>
        <ion-input class="border" style="font-weight: lighter;" required type="number" placeholder="Edit Time Slot here" formControlName="timeSlot" >         
        </ion-input>
        
        </form>

      </ion-card-content>
      </ion-card>
    <div>
      <div>
        <ion-button class="button"  slot="start" (click)="addToLocalStorage(taskDetails)"> 
          Start
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>