<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button autoHide="false"></ion-back-button>
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-button shape="round" style="color: black;font-weight: bold;font-size: inherit;" size="large"  fill="solid" (click)="generateReport()">
        <ion-icon name="document-text-outline"></ion-icon>
        &nbsp; Export
      </ion-button>
    </ion-buttons>
    <ion-title class="headerFontSize" *ngIf="type == 'main'">{{_thisDivision?.division_name}}</ion-title>
    <ion-title class="headerFontSize" *ngIf="type == 'duplicated'">{{_thisDivision?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let q of questionList">
        <div>
          <app-yes-no *ngIf="q?.type === 'Yes/No' " [question]="q" [auditKey]="auditKey" [questionList]="questionList"></app-yes-no>
          <app-input *ngIf="q?.type === 'Input' " [question]="q" [auditKey]="auditKey"></app-input>
          <app-yes-no-input *ngIf="q?.type === 'Yes/No With Input'" [question]="q" [auditKey]="auditKey"></app-yes-no-input>
        </div>
      </ion-item>
    </ion-list>  
</ion-content>

 <ion-footer *ngIf="type === 'main'">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="_previousDiv && !_previousSub">
      <ion-buttons color="secondary" 
      [routerLink]="['/questions/' + type + '/' + _previousDiv?.divison_ID + '/' + _previousDiv?.sub_ID + '/' + _previousDiv?.priority_ID + '/' + auditKey]" routerLinkActive="router-link-active"
      >
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>


    <ion-buttons style="padding-right: 47px;" slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-button shape="round" style="color: black;font-weight: bold;font-size: inherit;" size="large"  fill="solid" [routerLink]="['/priorities/']" routerLinkActive="router-link-active">
        Priorities Page
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="start" *ngIf="_previousSub && !_previousDiv">
      <ion-buttons color="secondary" 
      [routerLink]="['/divisions/'+ type +'/' + _previousSub.sub_ID + '/' + auditKey]" routerLinkActive="router-link-active"
      >
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>



    <ion-buttons slot="end" *ngIf="_nextDiv && !_nextSub ">
      <ion-buttons color="secondary"  (click)="Save('next')"
       routerLinkActive="router-link-active"
      >
        <ion-icon size="large" name="arrow-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="_nextSub && !_nextDiv ">
      <ion-buttons color="secondary"
      [routerLink]="['/divisions/'+ type +'/' + _nextSub.sub_ID + '/' + auditKey]" routerLinkActive="router-link-active"
      >
        <ion-icon size="large" name="arrow-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="type === 'duplicated'">
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-button style="color: black" size="large"  fill="solid" [routerLink]="['/priorities']" routerLinkActive="router-link-active">
        Priorities Page
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
