.textColor{
    color: black;
}
ion-content {
  
  //  --background: #fff url('../../assets/Untitled-6.png') no-repeat center center / cover;

}
.cardPaddingTop{
    padding-top: 2%;
    padding-bottom: 2%;
}