  
    <div *ngIf="question?.display == true || question?.display == 'true' " class="ion-padding-top card-style" style="padding: 5%;">

      <ion-radio-group [(ngModel)]="question.answer">
        <ion-label style="white-space: normal;">{{question.question}} </ion-label>
        <ion-grid>
          <ion-row class="ion-padding-top IonGroupPadding">
            <ion-col>
              <ion-label>Yes</ion-label>
              <ion-radio value="Yes">
              </ion-radio>
            </ion-col>
            <ion-col>
              <ion-label>No</ion-label>
              <ion-radio value="No">
              </ion-radio>
            </ion-col>
            <ion-col>
              <ion-label>N/A</ion-label>
              <ion-radio value="N/A"></ion-radio>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>

      <!-- <ion-label *ngIf="question.answer == 'No'">{{this.wrongAnswer}}</ion-label> -->
      <div *ngIf="question.answer == 'No'">
        <p *ngIf="wrongAnswer?.length"> {{wrongAnswer[0].replace('/result0/','')}}
          <input style="display: inline-block;width: 40px;margin: 4px;" type="number" placeholder="number...." />
          {{wrongAnswer[1]}}
        </p>
      </div>
      <!-- #TODO: update input with right statment or wrong statmen -->
      
      <div *ngIf="question.answer == 'Yes'">
        <p *ngIf="rightAnswer?.length"> {{rightAnswer[0]}}
          <input style="display: inline-block;width: 40px;margin: 4px;" type="number" placeholder="number...." />
          {{rightAnswer[1]}}
        </p>
      </div>
      
      <div slot="start">
        <ion-buttons slot="end" >
          <ion-button *ngIf="question.duplicated_ID" [routerLink]="['/details/' + question.duplicated_ID + '/' + question.parentDiv_ID + '/' + auditKey]"
          routerLinkActive="router-link-active" slot="end" style="color: white;font-size: medium;" size="large"  fill="solid">
            Question details 
          </ion-button>
          <ion-button *ngIf="!question.duplicated_ID" [routerLink]="['/details/' + question.id + '/' + question.division_ID + '/' + auditKey]" routerLinkActive="router-link-active" slot="end" style="color: white;font-size: medium;" size="large"  fill="solid">
            Question details 
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <!-- <span style="color: coral;" *ngIf="question?.display == false || question?.display == 'false'" color="secondary" class="ion-text-wrap">
      Based On The Previous Answer There Is No Question Here
    </span>
 -->
