  
    <div>

      <ion-radio-group [(ngModel)]="question.answer">
        <ion-label style="white-space: normal;">{{question.question}} </ion-label>
        <ion-grid>
          <ion-row class="ion-padding-top IonGroupPadding">
            <ion-col>
              <ion-label>Yes</ion-label>
              <ion-radio value="Yes">
              </ion-radio>
            </ion-col>
            <ion-col>
              <ion-label>No</ion-label>
              <ion-radio value="No">
              </ion-radio>
            </ion-col>
            <ion-col>
              <ion-label>N/A</ion-label>
              <ion-radio value="N/A"></ion-radio>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>

      <ion-label *ngIf="question.answer == 'No'">{{question.wrong_en}}</ion-label>
      
      <!-- #TODO: update input with right statment or wrong statmen -->
      
      <div *ngIf="question.answer == 'Yes'">
        <p> {{rightAnswer[0]}}
          <input style="display: inline-block;width: 40px;margin: 4px;" type="number" placeholder="number...." />
          {{rightAnswer[1]}}
        </p>
      </div>

    </div>


