.input-style {

    /* Card Shadow 
    -webkit-box-shadow: 0px 6px 10px -5px rgba(95,103,105,1);
    -moz-box-shadow: 0px 6px 10px -5px rgba(95,103,105,1);
    box-shadow: 0px 6px 10px -5px rgba(95,103,105,1); */
    border-style: solid;
    border-color: #3C3C3B;
    /* Card Border Radius */
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    width: 100%;
    
}



input {
    background-color: #ffffff !important;
}