<ion-card>
  <ion-card-content>
    <!-- Question with 2 inputs -->
    <ion-item *ngIf="questionWithInput.length == 3">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
        <ion-input type="number" [(ngModel)]="question.inputs[1].value"></ion-input>
        {{questionWithInput[2]}}
      </p>
    </ion-item>

    <ion-item *ngIf="questionWithInput.length == 2">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
      </p>
    </ion-item>

    <!-- Question with 3 inputs -->
    <ion-item *ngIf="questionWithInput.length == 4">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[1].value"></ion-input>
        {{questionWithInput[2]}}
        <ion-input type="text" [(ngModel)]="question?.inputs[2].value"></ion-input>

      </p>
    </ion-item>
  </ion-card-content>
</ion-card>