
    <!-- Question with 2 inputs -->
    <div *ngIf="questionWithInput.length == 3">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[1].value"></ion-input>
        {{questionWithInput[2]}}
      </p>
    </div>

    <div *ngIf="questionWithInput.length == 2">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
      </p>
    </div>

    <!-- Question with 3 inputs -->
    <div *ngIf="questionWithInput.length == 4">
      <p>
        {{questionWithInput[0]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[0].value"></ion-input>
        {{questionWithInput[1]}}
        <ion-input type="number" [(ngModel)]="question?.inputs[1].value"></ion-input>
        {{questionWithInput[2]}}
        <ion-input type="text" [(ngModel)]="question?.inputs[2].value"></ion-input>
      </p>
    </div>