
      <div *ngIf="question?.display == true || question?.display == 'true' " class="ion-padding-top card-style" style="padding: 5%;">
        <!-- Question with 2 inputs -->
        <div *ngIf="questionWithInput.length == 3">
          <p>
            {{questionWithInput[0]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="number" [(ngModel)]="question?.inputs[0].value " />
            {{questionWithInput[1]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="number" [(ngModel)]="question?.inputs[1].value" />
            {{questionWithInput[2]}}
          </p>
        </div>
      
        <div *ngIf="questionWithInput.length == 2">
          <p>
            {{questionWithInput[0]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="number" [(ngModel)]="question?.inputs[0].value" />
            {{questionWithInput[1]}}
          </p>
        </div>
      
        <!-- Question with 3 inputs -->
        <div *ngIf="questionWithInput.length == 4">
          <p>
            {{questionWithInput[0]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="number" [(ngModel)]="question?.inputs[0].value" />
            {{questionWithInput[1]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="number" [(ngModel)]="question?.inputs[1].value" />
            {{questionWithInput[2]}}
            <input style="display: inline-block;width: 40px;margin: 4px;" type="text" [(ngModel)]="question?.inputs[2].value" />
          </p>
        </div>
        
        <div slot="start">
          <ion-buttons slot="end" >
            <ion-button *ngIf="question.duplicated_ID" [routerLink]="['/details/' + question.duplicated_ID+ '/' + 'duplicated' + '/' + auditKey]"
            routerLinkActive="router-link-active" slot="end" style="color: white;font-size: medium;" size="large"  fill="solid">
              Question details 
            </ion-button>
            <ion-button *ngIf="!question.duplicated_ID" [routerLink]="['/details/' + question.id + '/' + 'main' + '/' + auditKey]" routerLinkActive="router-link-active" slot="end" style="color: white;font-size: medium;" size="large"  fill="solid">
              Question details 
            </ion-button>
          </ion-buttons>
        </div>


        
      </div>

      <!-- <span *ngIf="question?.display == false || question?.display == 'false'" style="color: coral;" color="secondary" class="ion-text-wrap">
        Based On The Previous Answer There Is No Question Here
      </span> -->