<!-- List of Text Items -->

<ion-content>
  <ion-row>
    <ion-col size="3">
      <!-- Default -->
      <!-- Use a  trigger -->
      <ion-button  size="small" (click)="presentActionSheet()">
        <ion-icon slot="icon-only"  name="options-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="9">
      <div class="form-group has-feedback has-search">
        <!-- <span class="form-control-feedback"><ion-icon name="search-outline"></ion-icon> </span> -->
        <ion-searchbar [formControl]="searchControl"></ion-searchbar>
      </div>    
    </ion-col>
  </ion-row>
  
  <div *ngFor="let task of taskList">
  
    <ion-card class="card-style" [routerLink]="'/task-details/'+task.tid">
      
      <ion-card-header style="color: black;">
        {{  task.title  }}
      </ion-card-header>
      <ion-card-content>
        <ion-buttons style="display: flow-root;" icon-only item-end clear [routerLink]="'/task-details/'+task.tid">
          <ion-icon style="color: #3C3C3B; float: right;" name="chevron-forward-outline">
          </ion-icon>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>
