<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button autoHide="false" onclick="event.stopImmediatePropagation(); window.myBack()"></ion-back-button>
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
    </ion-buttons>

    <ion-title>questionDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-text color="primary">
      <span>{{question?.fullQuestion}}</span>
    </ion-text>
    <ion-button slot="end" (click)="QuestionDetails()">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card class="card-style">
    <ion-card-header>
      <ion-card-subtitle>Photos:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>

      <ion-list>
        <ion-item *ngFor="let img of images; index as pos" text-wrap>
          <ion-thumbnail slot="start">
            <ion-img [src]="img.path"></ion-img>
            <!-- <ion-progress-bar [value]="p_bar_value" [buffer]="p_bar_buffer" *ngIf="showLoader">
            </ion-progress-bar> -->

          </ion-thumbnail>
          <ion-button slot="end" color="danger" (click)="deleteImg(img, pos)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
          <ion-button (click)="selectImage()" expand="block" class="ion-padding">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            Capture Image
          </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="card-style">
    <ion-card-header>
      <ion-card-subtitle>Note:</ion-card-subtitle>
      <ion-input type="text" placeholder="Write Your Input Here" [(ngModel)]="questionNote"></ion-input>
    </ion-card-header>
  </ion-card>
  
</ion-list>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="primary" expand="block" (click)="saveNote()" > SAVE </ion-button>
  </ion-toolbar>
</ion-footer>
</ion-content>
