.card-image {
    width: 50%;
}

/* DOES NOT WORK - not specific enough */
.action-sheet-group {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}
ion-content {
  
 // --background: #fff url('../../assets/Untitled-6.png') no-repeat center center / cover;

}