<ion-card *ngIf="question.display == 'true' " >
  <ion-card-header> {{question.question}} </ion-card-header>
  <ion-card-content>
    <ion-radio-group [(ngModel)]="question.answer">
      <ion-row>
        <ion-col>
          <ion-label>Yes</ion-label>
          <ion-radio [value]="question.right_en">
          </ion-radio>
        </ion-col>
        <ion-col>
          <ion-label>No</ion-label>
          <ion-radio [value]="question.wrong_en">
          </ion-radio>
        </ion-col>
        <ion-col>
          <ion-label>N/A</ion-label>
          <ion-radio value="N/A"></ion-radio>
        </ion-col>
      </ion-row>

    </ion-radio-group>
  </ion-card-content>


</ion-card>


<ion-text color="danger" *ngIf="question.display == 'false'">
  <h4 >There is No Question in this division please change the Previous Answer</h4>
</ion-text>