
<div class="ion-padding-top card-style" style="padding: 5%;">
    <!-- <h1 class="label label-prmary">Question</h1> -->

<ion-radio-group [(ngModel)]="question.answer">
  <ion-label style="white-space: normal;">{{question.question}}</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Yes</ion-label>
        <ion-radio value="Yes">
        </ion-radio>
      </ion-col>
      <ion-col>
        <ion-label>No</ion-label>
        <ion-radio value="No">
        </ion-radio>
      </ion-col>
      <ion-col>
        <ion-label>N/A</ion-label>
        <ion-radio value="N/A"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-radio-group>

<div slot="start">
  <ion-buttons slot="end">
    <ion-button style="color: white;font-size: medium;" size="large"  fill="solid">
      Question details 
    </ion-button>
  </ion-buttons>
</div>

</div>