<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>priorities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card Design Dynamic -->


  <ion-col size='3'>
    <ion-card class="card-style-Priority" *ngFor="let pr of prioritiesList" [routerLink]="['/sub-priorities/'+ pr.priority_ID]" routerLinkActive="router-link-active">
      <ion-card-content>              
        <img [src]="pr.priority_img"> 
      </ion-card-content>
    </ion-card>
  </ion-col>


  <ion-col>
    <ion-row style="justify-content: center;">
        <ion-button class="button" > <ion-icon name="save-outline" class="ion-padding-end"></ion-icon> Save Report</ion-button>
    </ion-row>
    <ion-row  style="justify-content: center;" >
        <ion-button class="button" > <ion-icon name="list-outline" class="ion-padding-end"></ion-icon> Tasks</ion-button>
    </ion-row>
  </ion-col>
</ion-content>