/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.card-style {

    /* Card Shadow 
    -webkit-box-shadow: 0px 6px 10px -5px rgba(95,103,105,1);
    -moz-box-shadow: 0px 6px 10px -5px rgba(95,103,105,1);
    box-shadow: 0px 6px 10px -5px rgba(95,103,105,1); */
    border-style: solid;
    border-color: #3C3C3B;
    /* Card Border Radius */
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    // margin-bottom: 15px;
    margin: 10px
    
}
.headerFontSize{
    font-size: medium;
}

/* pop-up message style */
.my-custom-class {
    --backdrop-opacity: 0.2;
    --background: white;
}

/* Black icons in the app */
#iconColor{
    color: #3C3C3B;
}


/* Camera style in division details page */
.custom-ion-content{
    --background:transparent;
}
.textColor{
    color: black;
}

.backgroundGroup{
    background-color: #cab3b3;
    background-image: url(assets/Untitled-3.png); 
    background-position: revert;
    background-size: cover;
}
